<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  {%load static%}
  <link rel="stylesheet" href="{%static 'home/assets/css/all.css' %}">
  <link rel="stylesheet" href="{%static 'home/assets/css/aboutus.css' %}">
  
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
</head>
<body>

<div class="wrapper">
    <h1>Meet Our Team</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
            <img src="{%static 'home/images/aadarsha.jpg' %}">
             
            <div class="social_media">
               <div class="facebook item">
                 <a href="https://www.facebook.com/eminemandaadarsha" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
               <div class="github item">
                <a href="https://github.com/AadarshaThapa" target="_blank"> <i class="fab fa-github"></i></a>
                </div>
               <div class="instagram item">
                 <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
             </div>
          </div>
          <h3>Aadarsha Thapa</h3>
          <span>Front End Developer</span>
          <p>It's Aadarsha Thapa.</p>
          <h6>Email: aadarshaandkazi@gmail.com</h6>
        </div>
        <div class="team_member">
           <div class="member_img">
            <img src="{%static 'home/images/achyut.jpg' %}">
             <div class="social_media">
               <div class="facebook item">
                 <a href="https://www.facebook.com/achyut.thapa.940/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
               <div class="github item">
                 <a href="https://github.com/thapachyut8863" target="_blank"><i class="fab fa-github"></i></a>
                </div>
               <div class="instagram item">
                 <a href="https://www.instagram.com/achyut_thapa_kaji/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
             </div>
          </div>
          <h3>Achyut Thapa</h3>
          <span>Back-End Developer</span>
          <p>Hi, My name is Achyut Thapa.</p>
         <h6> Email: achyutthapa6@gmail.com</h6>
      </div>
        <div class="team_member">
           <div class="member_img">
            <img src="{%static 'home/images/prajwol.jpg' %}">
             <div class="social_media">
               <div class="facebook item">
                 <a href="https://www.facebook.com/prajwol.manandhar.9" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </div>
               <div class="github item">
                 <a href="https://github.com/PrajwolM" target="_blank"><i class="fab fa-github"></i></a>
                </div>
               <div class="instagram item">
                 <a href="https://www.instagram.com/prazzol_mdhr/" target="_blank" ><i class="fab fa-instagram"></i></a>
                </div>
             </div>
          </div>
          <h3>Prajwol Manandhar</h3>
          <span> Front-End Developer and E-Mart Manager</span>
          <p>I am Prajwol Manandhar.</p>
         <h6>Email: p.mdr79@gmail.com</h6> 
      </div>
      </div>  
    </div>
</div>  
</body>
</html>

