{% extends "base2.html" %}
{% load humanize %}
{% block title %}Order Detail{% endblock %}
{% block content %}
<style>
    a{
        color:antiquewhite;
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                
                <h3 style="color: rgb(11, 3, 19); text-align:center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Order Detail</h3><hr style="border-width:3px; border-color:black;">
                <p><span class="font-weight-bold">Order ID:  </span>{{ord_obj.id}}</p><hr style=" border-color:black; border-width:1px;">
                <p><span class="font-weight-bold">Order Status:  </span>{{ord_obj.order_status}}</p><hr style=" border-color:black; border-width:1px;">
                <p><span class="font-weight-bold">Ordered On:  </span>{{ord_obj.created_at}}  ({{ord_obj.created_at|timesince}} ago)</p><hr style=" border-color:black; border-width:1px;">
                <p><span class="font-weight-bold">Customer Information:  </span> {{ord_obj.order_by}}, {{ord_obj.mobile}}</p><hr style=" border-color:black; border-width:1px;">
                <p><span class="font-weight-bold">Shipping Address:  </span>{{ord_obj.shipping_address}}, {{ord_obj.email}}</p><hr style=" border-color:black; border-width:1px;">
                <p><span class="font-weight-bold">Payment Information:  </span>{{ord_obj.payment_method}}, ({% if ord_obj.payment_completed %}Payment Completed {% else %}Not Paid{%endif%})</p><hr style=" border-color:black; border-width:1px;">
                

            </div>
            
            <div class="col-md-6">

               <h4 style="text-align: center; color:rgb(4, 4, 7); font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Items Ordered</h4>
               <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>SN.</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        
                    </tr>
    
                </thead>
           
    
                <tbody>
                    {% for cp in ord_obj.cart.cartproduct_set.all%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a target="_blank" href="{% url 'ecoapp:productdetailpage2' cp.product.slug%}">{{cp.product.title}} {{cp.product.id}}</a></td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>Rs.{{cp.subtotal|intcomma}}</td>
                    </tr>

                    {%endfor%}

                    <tr>
                        <th colspan="4" class="text-right">Total:</th>
                        <th>Rs. {{ord_obj.total|intcomma}}</th>
                    </tr>
    
                </tbody>
            </table>
            </div>

                


            </div>

        </div>
    </div>
{% endblock %}