{% extends "base.html" %}
{% block title %}Password Forgot Form{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            {% if request.GET.m == "s"%}
            <h3>Password reset link is sent to your address. Please check your email Immediately .</h3>
            {% else %}
            
            {%if request.GET.m == "e" %}
            <h5 class = "text-danger">Something went wrong, Please re-enter your email again.</h5>
            {%endif%}

            <form action="" , method = "POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Get Reset Link

                </button>

            </form>
            {%endif%}
        </div>
    </div>
</div>
    
{% endblock %}