{% extends "adminpages/adminbase.html" %}
{% block title %}Update Product{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Admin update Product</h3>
            <hr>
            <form action="" method="POST", enctype="multipart/form-data" >
                {%csrf_token%}
                {{form.as_p}}
                <button class = "btn btn-danger"> Update</button>
            </form>
        </div>
    </div>
</div>

{%endblock%}